body {
    background-color: #3E575B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

h1 {
    background-color: #5C2A1B;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.box {
    background-color: #79F6DB;
    padding: 20px;
    border: 10px solid black;
    margin: 20px;
    color: black;
    width: 400px;
}

p {
    margin: 0;
    text-align: left;
}
